@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

.flex {
	display: flex;
}

.j-center {
	justify-content: center;
}

.j-between {
	justify-content: space-between;
}

.a-center {
	align-items: center;
}

.j-end {
	justify-content: flex-end;
}

.a-end {
	align-items: flex-end;
}

.bold {
	font-weight: bold;
}

.inline {
	display: inline;
}

body,
html,
p {
	font-family: 'Red Hat Display', sans-serif;
}

header .main_header {
	font-size: 14px;
	padding: 20px 0;
	background-color: whitesmoke;
}

header .main_header .container-header {
	max-width: 1450px;
	margin: 0 auto;
	color: #444;
}

header .main_header .container-header i {
	color: #666;
}

header .main_header .container-header a {
	font-family: 'Red Hat Display', sans-serif;
	color: #444;
}

header .main_header .container-header .info li {
	margin-right: 40px;
}

header .main_header .container-header .menu li {
	margin-left: 20px;
}

header .main_header .container-header p a {
	font-weight: bold;
	padding: 3px 8px;
	color: white;
	border-radius: 8px;
	background: #ba933e;
}

.slider .owl-carousel.owl-theme:hover .owl-nav {
	display: flex;
}

.slider .owl-carousel.owl-theme:hover .owl-nav button {
	background: none;
}

.slider .item {
	font-family: 'Cabin Condensed', sans-serif;
	position: relative;
}

.slider .item .content {
	position: absolute;
	bottom: 50%;
	left: 10%;
	transform: translateY(50%);
}

.slider .item .content p {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #444;
}

.slider .item .content p span {
	color: #ba933e;
}

.slider .item .content h3 {
	font-size: 40px;
}

.slider .item .content a {
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;
	padding: 13px 23px;
	transition: all .3s;
	color: white;
	border-radius: 3px;
	background: black;
}

.slider .item .content a:hover {
	background: #ba933e;
}

.slider img {
	width: 100%;
}

.slider .owl-nav {
	font-size: 35px;
	position: absolute;
	top: 50%;
	display: flex;
	width: 100%;
	transform: translateY(-50%);
	color: black;
	justify-content: space-between;
}

.slider .owl-dot.active span {
	border: 2px solid #ba933e;
	background: whitesmoke !important;
}

.slider .owl-dot span {
	background: #ba933e !important;
}

.slider .owl-dots {
	position: absolute;
	right: 50%;
	bottom: 20px;
}

.slider .owl-nav {
	display: none;
	transition: all .3s;
}

.slider .owl-nav button {
	background: none;
}

.slider .owl-prev span {
	font-size: 15px;
	display: flex;
	width: 45px;
	height: 45px;
	margin-left: 20px;
	transition: all .3s;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	justify-content: center;
	align-items: center;
}

.slider .owl-prev span:hover {
	border: 1px solid #ba933e;
	background: #ba933e;
}

.slider .owl-next span {
	font-size: 15px;
	display: flex;
	width: 45px;
	height: 45px;
	margin-right: 20px;
	transition: all .3s;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	justify-content: center;
	align-items: center;
}

.slider .owl-next span:hover {
	border: 1px solid #ba933e;
	background: #ba933e;
}

