@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

.flex {
	display: flex;
}

.j-center {
	justify-content: center;
}

.j-between {
	justify-content: space-between;
}

.a-center {
	align-items: center;
}

.j-end {
	justify-content: flex-end;
}

.a-end {
	align-items: flex-end;
}

.bold {
	font-weight: bold;
}

.inline {
	display: inline;
}

.row {
	display: flex;
	margin: -15px;
	flex-wrap: wrap;
}

body,
html,
p {
	font-family: 'Red Hat Display', sans-serif;
}

header .main_header {
	font-size: 14px;
	padding: 20px 0;
	background-color: whitesmoke;
}

header .main_header .container-header {
	max-width: 1450px;
	margin: 0 auto;
	color: #444;
}

header .main_header .container-header ul li,
header .main_header .container-header ul a,
header .main_header .container-header ul i {
	transition: all .3s;
}

header .main_header .container-header ul li:hover,
header .main_header .container-header ul a:hover,
header .main_header .container-header ul i:hover {
	color: #ba933e;
}

header .main_header .container-header i {
	color: #666;
}

header .main_header .container-header a {
	font-family: 'Red Hat Display', sans-serif;
	color: #444;
}

header .main_header .container-header .info li {
	margin-right: 40px;
}

header .main_header .container-header .menu li {
	margin-left: 20px;
}

header .main_header .container-header p a {
	font-weight: bold;
	padding: 3px 8px;
	color: white;
	border-radius: 8px;
	background: #ba933e;
}

.slider .owl-carousel.owl-theme:hover .owl-nav {
	display: flex;
}

.slider .owl-carousel.owl-theme:hover .owl-nav button {
	background: none;
}

.slider .item {
	font-family: 'Cabin Condensed', sans-serif;
	position: relative;
}

.slider .item .content {
	position: absolute;
	bottom: 50%;
	left: 10%;
	transform: translateY(50%);
}

.slider .item .content p {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #444;
}

.slider .item .content p span {
	color: #ba933e;
}

.slider .item .content h3 {
	font-size: 40px;
}

.slider .item .content a {
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;
	padding: 13px 23px;
	transition: all .3s;
	color: white;
	border-radius: 3px;
	background: black;
}

.slider .item .content a:hover {
	background: #ba933e;
}

.slider img {
	width: 100%;
}

.slider .owl-nav {
	font-size: 35px;
	position: absolute;
	top: 50%;
	display: flex;
	width: 100%;
	transform: translateY(-50%);
	color: black;
	justify-content: space-between;
}

.slider .owl-dot.active span {
	width: 15px;
	height: 15px;
	border: 2px solid #ba933e;
	background: whitesmoke !important;
}

.slider .owl-dot span {
	background: #ba933e !important;
}

.slider .owl-dots {
	position: absolute;
	right: 50%;
	bottom: 20px;
	display: flex;
	align-items: center;
}

.slider .owl-nav {
	display: none;
	transition: all .3s;
}

.slider .owl-nav button {
	background: none;
}

.slider .owl-prev span {
	font-size: 15px;
	display: flex;
	width: 45px;
	height: 45px;
	margin-left: 20px;
	transition: all .3s;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	justify-content: center;
	align-items: center;
}

.slider .owl-prev span:hover {
	border: 1px solid #ba933e;
	background: #ba933e;
}

.slider .owl-next span {
	font-size: 15px;
	display: flex;
	width: 45px;
	height: 45px;
	margin-right: 20px;
	transition: all .3s;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	justify-content: center;
	align-items: center;
}

.slider .owl-next span:hover {
	border: 1px solid #ba933e;
	background: #ba933e;
}

.main-container {
	max-width: 1340px;
	margin: 0 auto;
}

.banner {
	margin: 80px auto;
}

.banner .main-container #hover-banner .item {
	position: relative;
	display: inline-block;
	height: 300px;
}

.banner .main-container #hover-banner .item:hover::after {
	transform: scaleX(0);
	opacity: 1;
}

.banner .main-container #hover-banner .item:hover::before {
	transform: scaleY(0);
	opacity: 1;
}

.banner .main-container #hover-banner .item::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	transition: all .5s;
	opacity: 0;
	background: rgba(255, 255, 255, .3);
}

.banner .main-container #hover-banner .item::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	transition: all .5s;
	opacity: 0;
	background: rgba(255, 255, 255, .3);
}

.banner .main-container .item {
	font-family: 'Red Hat Display', sans-serif;
	position: relative;
}

.banner .main-container .item img {
	width: 100%;
	height: 300px;
}

.banner .main-container .item .content {
	font-weight: bold;
	position: absolute;
	top: 55px;
	left: 40px;
}

.banner .main-container .item .content a {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	color: black;
}

.banner .main-container .item .content h4 {
	margin-bottom: 5px;
}

.banner .main-container .item .content span {
	font-size: 15px;
	color: #ba933e;
}

.banner-collection .img {
	position: relative;
}

.banner-collection .img img {
	width: 100%;
}

.banner-collection .img .content {
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	text-align: center;
	color: #444;
}

.banner-collection .img .content #price {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.banner-collection .img .content #price span {
	color: #ba933e;
}

.banner-collection .img .content h2 {
	font-size: 50px;
	color: black;
}

.banner-collection .img .content a {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin: 20px auto;
	padding: 12px 23px;
	transition: all .5s;
	color: white;
	border-radius: 5px;
	background: #000;
}

.banner-collection .img .content a:hover {
	background: #ba933e;
}

.banner-collection .img .content i {
	font-size: 15px;
	margin-left: 15px;
}

.subcribe {
	height: 500px;
	background-image: url(../images/bg-newsleter-fashion-1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.subcribe .form {
	width: 870px;
	height: 220px;
	border-radius: 2px;
	background: rgba(255, 255, 255, .8);
}

.subcribe .form .content p {
	margin: 10px auto;
}

.subcribe .form .content h3 {
	font-size: 35px;
}

.subcribe .form .content .search input {
	padding: 10px 100px 10px 5px;
	border: 2px solid #e5e5e5;
	border-radius: 3px;
	flex-grow: 2;
}

@media (min-width: 1201px) {

.row .col-xl-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-xl-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-xl-3 {
	width: 25%;
	padding: 15px;
}

.row .col-xl-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-xl-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-xl-6 {
	width: 50%;
	padding: 15px;
}

.row .col-xl-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-xl-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-xl-9 {
	width: 75%;
	padding: 15px;
}

.row .col-xl-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-xl-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-xl-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 1200px) {

.row .col-lg-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-lg-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-lg-3 {
	width: 25%;
	padding: 15px;
}

.row .col-lg-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-lg-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-lg-6 {
	width: 50%;
	padding: 15px;
}

.row .col-lg-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-lg-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-lg-9 {
	width: 75%;
	padding: 15px;
}

.row .col-lg-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-lg-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-lg-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 992px) {

.row .col-md-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-md-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-md-3 {
	width: 25%;
	padding: 15px;
}

.row .col-md-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-md-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-md-6 {
	width: 50%;
	padding: 15px;
}

.row .col-md-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-md-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-md-9 {
	width: 75%;
	padding: 15px;
}

.row .col-md-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-md-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-md-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 768px) {

.row .col-sm-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-sm-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-sm-3 {
	width: 25%;
	padding: 15px;
}

.row .col-sm-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-sm-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-sm-6 {
	width: 50%;
	padding: 15px;
}

.row .col-sm-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-sm-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-sm-9 {
	width: 75%;
	padding: 15px;
}

.row .col-sm-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-sm-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-sm-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 576px) {

.row .col-xs-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-xs-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-xs-3 {
	width: 25%;
	padding: 15px;
}

.row .col-xs-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-xs-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-xs-6 {
	width: 50%;
	padding: 15px;
}

.row .col-xs-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-xs-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-xs-9 {
	width: 75%;
	padding: 15px;
}

.row .col-xs-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-xs-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-xs-12 {
	width: 100%;
	padding: 15px;
}

}

