@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import "flex";
@import "animation";
@import "grid";


body,
html,
p {
    font-family: 'Red Hat Display', sans-serif;
}

$primaryColor: #ba933e;
$secondColor: whitesmoke;
$primaryFont: 'Red Hat Display', sans-serif;


header {
    .main_header {
        padding: 20px 0;
        background-color: whitesmoke;
        font-size: 14px;

        .container-header {
            max-width: 1450px;
            margin: 0 auto;
            color: #444;
            ul{
                li,a,i{
                    transition: all .3s;
                    &:hover{
                        color: $primaryColor;
                    }
                }
            }

            i {
                color: #666;
            }

            a {
                color: #444;
                font-family: $primaryFont;
            }

            .info {
                li {
                    margin-right: 40px;

                }
            }



            .menu {
                li {
                    margin-left: 20px;
                }
            }

            p {
                a {
                    padding: 3px 8px;
                    background: $primaryColor;
                    border-radius: 8px;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

    .main-nav{
        height: 85px;
        .container-header{
            color: #444;
            height: 100%;
            .logo{
                width: 150px;
                .icon-logo{
                    img{
                        width: 100%;
                    }
                }
            }

            nav{
                margin-left:170px ;
               > ul{
                   > li{
                        text-align: center;
                        .title{
                            color: black;
                            position: relative;
                            display: inline-block;
                            padding: 33px 30px;
                            &:hover{
                                color: $primaryColor;
                                
                            }
                            &.angle-down{
                                &::after{
                                    content: "";
                                    position: absolute;
                                    width: 7px;
                                    height: 7px;
                                    border: 1px solid black;
                                    border-top: transparent;
                                    border-right: transparent;
                                    transform: rotate(-45deg);
                                    right: 10px;
                                    bottom: 40px;
                                }
                            }
                        }
                        .drop-down{
                            display: none;
                            z-index: 2;
                            position: absolute;
                            width: 200px;
                            background: white;
                            transform: translate(-13px,0px);
                            &.heightDropdown-men{
                                height: 300px;
                            }
                            &.heightDropdown-accessorie{
                                height: 200px;
                            }
                            &.heightDropdown-women{
                                height: 300px;
                            }
                            li{
                                text-align: left;
                                &:first-child{
                                    padding-top: 10px;
                                }
                                a{
                                    padding-left: 25px;
                                    padding-top: 20px;
                                    display: block;
                                    &:hover{
                                        color: $primaryColor;
                                    }
                                }
                            }
                        }
                        &.block{
                            position: relative;           
                            &:hover{
                                .drop-down{
                                    display: block;
                                    animation-name: drop-down;
                                    animation-duration: 0.5s;
                                }
                            }
                            
                        }
                    }
                }
            }
            
            .active{
                a{
                    color: black;
                }
                .user{
                    padding-right: 50px;
                    .icon-user{
                        padding-right: 5px;
                    }
                    .login{
                        padding-right: 13px;
                        position: relative;
                        &:hover{
                            color: $primaryColor;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            height: 17px;
                            width: 1px;
                            background-color: black;
                            right: 3px;
                            transform: rotate(30deg);
                        }
                    }
                    .register{
                        position: relative;
                        &:hover{
                            color: $primaryColor;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            height: 20px;
                            width: 1px;
                            background:black;
                            right: -25px;
                            bottom: -1px;
                        }
                    }

                }
                .actions{
                    .icon-bag{
                        // padding-right: 30px;
                    }
                    .icon-search{
                        padding-right: 30px;
                    }

                }
            }

        }
    }

}

.slider {
    .owl-carousel.owl-theme {
        &:hover {
            .owl-nav {
                display: flex;
                button{
                    background: none;
                }
            }

        }
    }

    .item{
        position: relative;
        font-family: 'Cabin Condensed', sans-serif;
        .content{
            position: absolute;
            bottom: 50%;
            left: 10%;
            transform: translateY(50%);
            p{
                font-size: 18px;
                font-weight: bold;
                color: #444;
                margin-bottom: 10px;
                span{
                    color: $primaryColor;
                }

            }
            h3{
                font-size: 40px;
              

            }
            a{
                display: inline-block;
                padding: 13px 23px;
                background: black;
                color: white;
                border-radius: 3px;
                font-weight: bold;
                margin-top: 10px;
                font-size: 13px;
                transition: all .3s;
                &:hover{
                    background: $primaryColor;
                }
            }
            
        }
    }
   
        
        img{
            width: 100%;
            
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 35px;
            color: black;


        }

        .owl-dot.active span {
            background: whitesmoke !important;
            border: 2px solid $primaryColor;
            width: 15px;
            height: 15px;
        }

        .owl-dot span {
            background: $primaryColor !important;
          
        }

        .owl-dots {
            position: absolute;
            right: 50%;
            bottom: 20px;
            display: flex;
            align-items: center;
         
        }
        
        .owl-nav {
            // z-index: 2;
            display: none;
            transition: all .3s;

            button {
                background: none;
               // color: #1a1a1a;
            }
        }

        .owl-prev span {
            margin-left: 20px;
            font-size: 15px;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid white;
            transition: all .3s;
            background: white;


            &:hover {
                background: $primaryColor;
                border: 1px solid $primaryColor;
            }

        }

        .owl-next span {
            margin-right: 20px;
            font-size: 15px;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid white;
            transition: all .3s;
            background: white;


            &:hover {
                background: $primaryColor;
                border: 1px solid $primaryColor;
            }
        }
    
}

.main-container{
    max-width: 1340px;
    margin: 0 auto;
}

.banner{
    margin: 80px auto;
    .main-container{
        #hover-banner{
            .item{
                height: 300px;
                display: inline-block;
                position: relative;
                &:hover{
                    &::after{
                        opacity: 1;
                        transform: scaleX(0);
                    }
                    &::before{
                        opacity: 1;
                        transform: scaleY(0);
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(#fff,0.3);
                    opacity: 0;
                    transition: all .5s;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(#fff,0.3);
                    opacity: 0;
                    transition: all .5s;
                }
            }
        }
        .item{
            font-family: $primaryFont;

            position: relative;
            img{
                width: 100%;
                height: 300px;
            }
            .content{
                font-weight: bold;
                position: absolute;
                top: 55px;
                left: 40px;
                a{
                    font-family: $primaryFont;
                    color: black;
                    font-size: 20px;
                }
                h4{
                    margin-bottom: 5px;
                }
                span{
                    color: $primaryColor;
                    font-size: 15px;
                }
            }
       }
    }
}

.banner-collection{
    .img{
        position: relative;
        img{
            width: 100%;
        }
        .content{

            position: absolute;
            bottom: 50%;
            right: 50%;
            transform: translate(50%,50%);
            text-align: center;
            color: #444;

            #price{
                font-weight: bold;
                font-size: 25px;
                margin-bottom: 10px;

                span{
                    color: #ba933e;
                }
            }

            h2{
                font-size: 50px;
                color: black;
            }

            a{
                padding: 12px 23px;
                color: white;
                font-size:18px;
                font-weight: bold;
                background: #000;
                display: inline-block;
                margin: 20px auto;
                border-radius: 5px;
                font-family: $primaryFont;
                transition: all .5s;
                &:hover{
                    background:$primaryColor;
                }
            }
            i{
                margin-left: 15px;
                font-size: 15px;
            }
        }
    }
}

.subcribe{
 // position: relative;
 height: 500px;
    background-image: url(../images/bg-newsleter-fashion-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

    .form{
        

        width: 870px;
        height: 220px;
        background: rgba(#fff,0.8);
        border-radius: 2px;
    //    padding: 30px 50px;
        .content{
            p{
                margin: 10px auto;
            }
            h3{
                font-size: 35px;
            }
            .search{
                input{
                    border: 2px solid #e5e5e5;
                    padding: 10px 100px 10px 5px;
                    border-radius: 3px;
                    flex-grow: 2;
                }
               
                
            }
        }
    }
}

